@model string
@{
    ViewData["Title"] = "Result";
}

<div class="cancelRequest">
    <h2>@ViewData["Title"]</h2>

    <div class="alert alert-info">
        <p class="lead">
            @Model
        </p>
    </div>

</div>