@model Souq.ViewModels.PaypalFormViewModel
@{
    ViewData["Title"] = "Success paid";
}

<div class="success">
    <div class="alert alert-success">
       <p class="lead">
           You will paid off when delivr the Order;
       </p>
    </div>
</div>