@model Souq.ViewModels.PaypalFormViewModel
@{
    ViewData["Title"] = "Success paid";
}

<div class="success">
    <div class="alert alert-success">
       <p class="lead">
           Your operation had succcessed, your order waiting confirmation from our admins
       </p>
    </div>
</div>