@{
    ViewData["Title"] = "NotFound";
}

<div class="notFound text-center">
    <h1 class="text-danger">NotFound 404</h1>

    <div class="alert alert-danger" style="width:70%;margin:20px auto;">
        <p class="lead">
            sorry we dont found what you are looking for ):
        </p>
    </div>
</div>

