@model string
@{
    ViewData["Title"] = "Faild 😢";
}
<div class="Faild text-center">
    <div class="alert alert-danger" style="width:70%;margin:20px auto;">
        <p>
            <b>@Model</b>
        </p>
    </div>
</div>